<a href="https://colab.research.google.com/github/sharibhumayun/Logic2.0/blob/main/Base_modelSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl 
import matplotlib.pyplot as plt

In [6]:
path = 'https://raw.githubusercontent.com/sharibhumayun/Logic2.0/main/MasterDatabase-%20SE%20Only.csv'

df = pd.read_csv(path)
df.head()

  Current_connection       City  ... Customer_Support Billing_Payment
0             Mobily  AD DAMMAM  ...              8.0             8.0
1             Mobily      Other  ...              7.0             9.0
2             Mobily     JEDDAH  ...             10.0            10.0
3             Mobily  AR RIYADH  ...              8.0             9.0
4             Mobily     JEDDAH  ...             10.0            10.0

[5 rows x 18 columns]

In [7]:
df.shape

(987, 18)

**Data** **Preprocessing**

In [8]:
df.isnull().sum()

Current_connection       0
City                     0
Region                   0
Nationality              0
Gender                   0
Exact_Age                2
Connection               0
Segment                  0
Performance              2
Preference              14
TRIM_Index               0
Communication           47
Proposition             12
Sales_Experience         0
Opt_inout               19
Network_Satisfaction     2
Customer_Support        13
Billing_Payment         15
dtype: int64

In [9]:
df.dtypes

Current_connection       object
City                     object
Region                   object
Nationality              object
Gender                   object
Exact_Age               float64
Connection               object
Segment                  object
Performance             float64
Preference              float64
TRIM_Index                int64
Communication           float64
Proposition             float64
Sales_Experience          int64
Opt_inout               float64
Network_Satisfaction    float64
Customer_Support        float64
Billing_Payment         float64
dtype: object

In [11]:
# Insert the missing values with the median of each column
df['Exact_Age'] = df['Exact_Age'].fillna(value = df['Exact_Age'].median())
df['Performance'] = df['Performance'].fillna(value = df['Performance'].median())
df['Preference'] = df['Preference'].fillna(value = df['Preference'].median())
df['Communication'] = df['Communication'].fillna(value = df['Communication'].median())
df['Proposition'] = df['Proposition'].fillna(value = df['Proposition'].median())

df['Opt_inout'] = df['Opt_inout'].fillna(value = df['Opt_inout'].median())
df['Network_Satisfaction'] = df['Network_Satisfaction'].fillna(value = df['Network_Satisfaction'].median())
df['Customer_Support'] = df['Customer_Support'].fillna(value = df['Customer_Support'].median())
df['Billing_Payment'] = df['Billing_Payment'].fillna(value = df['Billing_Payment'].median())

In [12]:
df.isnull().sum()

Current_connection      0
City                    0
Region                  0
Nationality             0
Gender                  0
Exact_Age               0
Connection              0
Segment                 0
Performance             0
Preference              0
TRIM_Index              0
Communication           0
Proposition             0
Sales_Experience        0
Opt_inout               0
Network_Satisfaction    0
Customer_Support        0
Billing_Payment         0
dtype: int64

In [13]:
df.head()

  Current_connection       City  ... Customer_Support Billing_Payment
0             Mobily  AD DAMMAM  ...              8.0             8.0
1             Mobily      Other  ...              7.0             9.0
2             Mobily     JEDDAH  ...             10.0            10.0
3             Mobily  AR RIYADH  ...              8.0             9.0
4             Mobily     JEDDAH  ...             10.0            10.0

[5 rows x 18 columns]

In [14]:
print(df['Current_connection'].unique())
print(df['Region'].unique())
print(df['Nationality'].unique())
print(df['Gender'].unique())
print(df['Connection'].unique())
print(df['Segment'].unique())

['Mobily' 'Lebara' 'Friendi' 'STC' 'Zain']
['Eastern' 'Others' 'Western' 'Central' 'Northern' 'South']
['Expat Arabs' 'Expat Asians' 'Nationals']
['Male' 'Female']
['Prepaid' 'Postpaid' 'PrepaidData' 'PostpaidData']
['LV' 'VLV' 'VHV' 'HV' 'MV' 'Data']

In [15]:
# Drop City as Region is already included
df.drop(['City'],axis = 1, inplace = True)

In [16]:
df.head()

  Current_connection   Region  ... Customer_Support Billing_Payment
0             Mobily  Eastern  ...              8.0             8.0
1             Mobily   Others  ...              7.0             9.0
2             Mobily  Western  ...             10.0            10.0
3             Mobily  Central  ...              8.0             9.0
4             Mobily  Western  ...             10.0            10.0

[5 rows x 17 columns]

In [17]:
!pip install relativeImp

Collecting relativeImp
  Downloading https://files.pythonhosted.org/packages/2e/a6/d02857fb2ffb19d3660e70a1ab7bff9308f914351e0b00ad8a0da3c8de63/relativeImp-0.0.2-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from relativeImp) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from relativeImp) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->relativeImp) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->relativeImp) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->relativeImp) (1.15.0)
Installing collected packages: relativeImp
Successfully installed relativeImp-0.0.2

In [20]:
from relativeImp import relativeImp
yName = 'TRIM_Index'
xNames = ['Communication','Proposition','Sales_Experience','Opt_inout',	'Network_Satisfaction',	'Customer_Support',	'Billing_Payment']
df_results = relativeImp(df, outcomeName = yName, driverNames = xNames)
df_results

                 driver  rawRelaImpt  normRelaImpt
0         Communication     0.042935      8.541269
1           Proposition     0.089385     17.781618
2      Sales_Experience     0.042321      8.419024
3             Opt_inout     0.070548     14.034269
4  Network_Satisfaction     0.147015     29.246075
5      Customer_Support     0.035802      7.122098
6       Billing_Payment     0.074677     14.855648

In [22]:
df_mobily = df[df['Current_connection']=='Mobily']

In [23]:
from relativeImp import relativeImp
yName = 'TRIM_Index'
xNames = ['Communication','Proposition','Sales_Experience','Opt_inout',	'Network_Satisfaction',	'Customer_Support',	'Billing_Payment']
df_results_M = relativeImp(df_mobily, outcomeName = yName, driverNames = xNames)
df_results_M

                 driver  rawRelaImpt  normRelaImpt
0         Communication     0.030583      5.972059
1           Proposition     0.104221     20.351677
2      Sales_Experience     0.047759      9.326009
3             Opt_inout     0.088341     17.250659
4  Network_Satisfaction     0.131065     25.593528
5      Customer_Support     0.033346      6.511622
6       Billing_Payment     0.076787     14.994447

In [ ]:
## Convert the Object items to Number system
df= pd.get_dummies(df,drop_first = True)
df.head()

In [ ]:
df.drop(['Website_performance','Mobileapp_satisfaction', 'Performance_SNS_Promotions'], axis = 1, inplace = True)

In [ ]:
df.head()

In [ ]:
df_x = df.drop('TRIM_Index', axis = 1)

In [ ]:
df['Current_connection_Mobily'].value_counts()

**Identification of Outliers**

In [ ]:
from scipy.stats import zscore
df['zscore_TRIM'] = zscore(df.TRIM_Index)
df.head()

In [ ]:
df[(df.zscore_TRIM> 3) | (df.zscore_TRIM < -3)]

In [ ]:
plt.boxplot(df.TRIM_Index)

In [ ]:
## No outliers are identified so, we will proceed with the full dataset

**Check for Multicollinearity**`

In [ ]:
plt.figure(figsize = (12,10))
sns.heatmap(df_x.corr())

In [ ]:
df_mobily = df[df['Current_connection_Mobily']==1]

In [ ]:
df_mobily.head()

In [ ]:
df_mobily.shape

In [ ]:
df_mobily.drop(['Exact_Age', 'Current_connection_Mobily', 'Current_connection_Jawwy','Current_connection_Lebara', 'Current_connection_STC', 'Current_connection_Virgin','Current_connection_Zain', 'zscore_TRIM','Performance', 'Preference'],axis = 1, inplace = True)

In [ ]:
df_mobily.head()

Check for Multi colinearity

In [ ]:
df_mobily_x= df_mobily.drop('TRIM_Index',axis =1)

In [ ]:
plt.figure(figsize=(20,12))
sns.heatmap(df_mobily_x.corr(), annot = True)

**Model Building**

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
x = df_mobily_x
y= df_mobily['TRIM_Index']

In [ ]:
lr = LinearRegression()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.33, random_state = 5)

In [ ]:
lr.fit(x_train, y_train)

In [ ]:
y_pred= lr.predict(x_test)
y_pred

In [ ]:
y_test

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
lr.score(x_test,y_test)

In [ ]:
mse= mean_squared_error(y_pred,y_test)
print(mse)

In [ ]:
from sklearn import metrics

np.sqrt(metrics.mean_squared_error(y_pred, y_test))

In [ ]:
np.round(metrics.r2_score(y_pred, y_test),2)

In [ ]:
plt.figure(figsize=(20,12))
sns.distplot(y_test - y_pred)

In [ ]:
plt.figure(figsize=(16,12))
plt.scatter(y_test, y_pred)

In [ ]:
plt.scatter (x= df_mobily['Proposition'], y = df_mobily['TRIM_Index'])

In [ ]:
plt.scatter (x= df['Network_Satisfaction'].mean(), y = df['TRIM_Index'].mean())

In [ ]:
sns.regplot(y_pred,y_test, data = df_mobily, color='r')